
.panel-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}


.banner {     /* Banner superior */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 15px;
    background-color: #333;
    color: #fff;
}


.banner h1 {
    font-size: 30px;
    margin: 0;
}

.logout-button {
    background-color: #2468e6;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #d32f2f;
}

/* Secciones de contenido */
.content-sections {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.section-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.section-bio {
    font-size: 14px;
    color: #333;
}

/* Responsivo */
@media (max-width: 768px) {
    .content-sections {
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 90%;
    }
}
